.logo {
    font-family: 'Architects Daughter', cursive;
    font-weight: 800;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    /* semi-transparent black color */
  }
  
  